[Unit]
Description=Network Setup for VZ VM
DefaultDependencies=no
After=local-fs.target systemd-networkd.service
Before=network-online.target docker.service shed-agent.service
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/network-setup.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
